<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/adm">
        <b style="color: #57aa90e0;">Clínica Docente los Jarales</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/add">Crear Cita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crear">Crear Médico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs">Lista de Médicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Lista de Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row nt-5">
        <h3 class="text-center text-uppercase p-2">Lista de Médicos</h3>
        {{#if doctores}}
            <table class="table text-center">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre </th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody style="background: aliceblue;">
                    {{#each doctores}}
                        <tr>
                            <td>{{this.nombre}}</td>
                            <td>{{this.especialidad}}</td>
                            <td>{{this.telefono}}</td>
                            <td>{{this.direccion}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="medico/editar/{{this.id_medico}}" class="btn btn-warning p-2">
                                        Editar
                                    </a>
                                    <a href="medico/delete/{{this.id_medico}}" class="btn btn-danger p-2">
                                        Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="text-center table-dark" >
                        <td colspan="7">REGISTRO DE CITAS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
            {{!-- <div class="col-md-12"> --}}
                <div class="card text-center mx-auto" style="width: 350px;">
                    <div class="card-header">
                        <h3>No hay doctores</h3>
                    </div>
                    <div class="card-body">
                        <p>Presiona este boton para que puedas crear una cita</p>
                        <a href="/medico/crear" class="btn btn-primary">Ir a crear</a>
                    
            </div>
        {{/if}}
    </div>
</div>