<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listDoc">
        <b style="color: #57aa90e0;">Clínica Docente los Jarales</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-upeprcase">EDITANDO CITA</h3>
        </div>
        <div class="card-body">
          <form action="/editDoc/{{cita.id}}" method="post">
            <div class="input-group mt-2">
             <label for="nombreDoctor" class="input-group-text">Doctor</label>
              <select id="id_medico" name="id_medico" >
                {{#each doctores}}
                  <option readonly value={{this.id_medico}} name="id_medico" id="id_medico">{{this.nombre}}</option>
                {{/each}}
              </select>
            <div class="input-group mt-2">
              <label for="nombrePaciente" class="input-group-text">Paciente</label>
              <input readonly class="form-control" type="text" name="nombrePaciente" id="nombrePaciente" value="{{cita.nombre}}" placeholder="Ejemplo: Luis Angel"autofocus required>
            </div>
            <div class="input-group mt-2">
              <label for="fecha" class="input-group-text">Fecha</label>
              <input class="form-control" type="date" name="fecha" id="fecha" value="{{cita.fecha}}" required>
            </div>
            <div class="input-group mt-2">
              <label for="hora" class="input-group-text">Hora</label>
              <input class="form-control" type="time" name="hora" id="hora" value="{{cita.hora}}" required>
            </div>
            <div class="input-group mt-4 d-grid gap-2">
              <button class="btn btn-succes">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>